{% trans_default_domain 'PlatformeBundle' %}

<div class="filtre">
    <input id="recherche" placeholder="{{ 'board.search'|trans }}">

    <button id="domaine" onclick="domaineList()" value="none">{{ 'board.domain'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="domaine-list">
        {% block domain %}
        {% endblock domain %}
    </div>

    <button id="matiere"  onclick="matiereList()" value="none">{{ 'board.subject'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="matiere-list">
        {% block subject %}
        {% endblock subject %}
    </div>

    <button id="theme" onclick="themeList()" value="none">{{ 'board.theme'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="theme-list">
        {% block theme %}
        {% endblock theme %}
    </div>

    <button id="chapitre" onclick="chapitreList()" value="none">{{ 'board.chapter'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="chapitre-list">
        {% block chapter %}
        {% endblock chapter %}
    </div>

    <button id="type" onclick="typeList()" value="none">{{ 'board.type'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="type-list">
        <button class="choix" onclick="typeChoix('type.course', '{{ 'type.course'|trans }}')">{{ 'type.course'|trans }}</button>
        <button class="choix" onclick="typeChoix('type.exercise', '{{ 'type.exercise'|trans }}')">{{ 'type.exercise'|trans }}</button>
    </div>

    <button id="niveau" onclick="niveauList()" value="none">{{ 'board.level'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="niveau-list">
        {% for niveau in listNiveaux %}
            <button class="choix" onclick="niveauChoix('{{ niveau.level }}', '{{ niveau.level|trans }}')">{{ niveau.level|trans }}</button>
        {% endfor %}
    </div>
</div>
