{% trans_default_domain 'PlatformeBundle' %}

<div class="filtre">
    <input id="recherche" placeholder="{{ 'board.search'|trans }}">
    <div class="board-nav">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <button id="lienCours" class="col-xs-4 active" onclick="lienCours()"><span class="glyphicon glyphicon-book"></span></button>
            <button id="lienEvaluation" class="col-xs-4" onclick="lienEvaluation()"><span class="glyphicon glyphicon-list-alt"></span></button>
            <button id="lienForum" class="col-xs-4" onclick="lienForum()"><span class="glyphicon glyphicon-comment"></span></button>
        {% else %}
            <button id="lienCours" class="col-xs-12 active" onclick="lienCours()"><span class="glyphicon glyphicon-book"></span>Tous les cours</button>
        {% endif %}
    </div>

    <button id="domaine" onclick="domaineList()">{{ 'board.domain'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="domaine-list">
        {% block domain %}
        {% endblock domain %}
    </div>

    <button id="matiere"  onclick="matiereList()">{{ 'board.subject'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="matiere-list">
        {% block subject %}
        {% endblock subject %}
    </div>

    <button id="theme" onclick="themeList()">{{ 'board.theme'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="theme-list">
        {% block theme %}
        {% endblock theme %}
    </div>

    <button id="chapitre" onclick="chapitreList()">{{ 'board.chapter'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="chapitre-list">
        {% block chapter %}
        {% endblock chapter %}
    </div>

    <button id="type" onclick="typeList()">{{ 'board.type'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="type-list">
        <button id="none" class="choix none">{{ 'board.type'|trans }}</button>
        <button id="type.course" class="choix" onclick="typeChoix('type.course', '{{ 'type.course'|trans }}')">{{ 'type.course'|trans }}</button>
        <button id="type.exercise" class="choix" onclick="typeChoix('type.exercise', '{{ 'type.exercise'|trans }}')">{{ 'type.exercise'|trans }}</button>
    </div>

    <button id="niveau" onclick="niveauList()">{{ 'board.level'|trans }}<span class="glyphicon glyphicon-triangle-bottom"></span></button>
    <div id="niveau-list">
        <button id="none" class="choix none">{{ 'board.level'|trans }}</button>
        {% for niveau in listNiveaux %}
            <button id="{{ niveau.level }}" class="choix" onclick="niveauChoix('{{ niveau.level }}', '{{ niveau.level|trans }}')">{{ niveau.level|trans }}</button>
        {% endfor %}
    </div>
</div>
