{% trans_default_domain 'PlatformeBundle' %}

{% for donnees in listDonnees %}
    <div class="etiquette">
        <div id="carousel_{{ loop.index }}" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
                    <a href="{{ path('uknow_reading_homepage', {'id': donnees.id }) }}" style="text-decoration: none">
                        <div class="titre">
                            <div class="barre"></div>
                            <div class="titre-centrer">{{ donnees.titre }}</div>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <div class="description" onclick="afficheTitre({{ loop.index }})">
                        <p>{{ donnees.description }}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="liste" onclick="afficheTitre({{ loop.index }})">
                        <p><em>{{ 'structure.domain'|trans }}: </em>{{ include('UknowPlatformBundle:data/structureTrans:domain.html.twig') }}<br/>
                            <em>{{ 'structure.subject'|trans }}: </em>{{ include('UknowPlatformBundle:data/structureTrans:subject.html.twig') }}<br/>
                            <em>{{ 'structure.theme'|trans }}: </em>{{ include('UknowPlatformBundle:data/structureTrans:theme.html.twig') }}<br/>
                            <em>{{ 'structure.chapter'|trans }}: </em>{{ include('UknowPlatformBundle:data/structureTrans:chapter.html.twig') }}<br/>
                            <em>{{ 'structure.type'|trans }}: </em>{{ donnees.type|trans }}<br/>
                            <em>{{ 'structure.level'|trans }}: </em>{{ donnees.niveau|trans }}<br/>
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="details" onclick="afficheTitre({{ loop.index }})">
                        <p><em>{{ 'detail.date'|trans }}: </em>{{ donnees.date|date('d/m/Y') }}<br/>
                            <em>{{ 'detail.time'|trans }}: </em>{{ donnees.temps }}<br/>
                            <em>{{ 'detail.pertinent'|trans }}: </em>{{ donnees.pertinent }}<br/>
                            <em>{{ 'detail.developper'|trans }}: </em>{{ donnees.developper }}<br/>
                            <em>{{ 'detail.inadequat'|trans }}: </em>{{ donnees.inadequat }}<br/>
                            <em>{{ 'detail.fiabilite'|trans }}: </em>{{ donnees.fiabilite }}%<br/>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="infos">
            <div class="row">
                <div class="col-xs-2">
                    <button class="bouton-description" id="bouton-description_{{ loop.index }}" onclick="afficheDescription({{ loop.index }})">
                       <span class="glyphicon glyphicon-info-sign"></span>
                    </button>
                </div>
                <div class="col-xs-2">
                    <button class="bouton-liste" id="bouton-liste_{{ loop.index }}" onclick="afficheListe({{ loop.index }})">
                        <span class="glyphicon glyphicon-list"></span>
                    </button>
                </div>
                <div class="col-xs-2">
                    <button class="bouton-details" id="bouton-details_{{ loop.index }}" onclick="afficheDetails({{ loop.index }})">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </div>
                <div class="col-xs-2">
                    <div class="pertinent">
                        <span>{{ donnees.pertinent }}</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="developper">
                        <span>{{ donnees.developper }}</span>
                    </div>
                </div>
                <div class="col-xs-2">
                    <div class="inadequat">
                        <span>{{ donnees.inadequat }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}