{# src/Uknow/PlatformBundle/Resources/views/layout.html.twig#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% stylesheets
            '@bootstrap_css'
            '@UknowReadingBundle/Resources/public/css/layout.css'
            '@UknowReadingBundle/Resources/public/css/header_base.css'
            '@UknowReadingBundle/Resources/public/css/header_infos.css'
            '@UknowReadingBundle/Resources/public/css/header_onglets.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
        <title>{% block title %}Uknow{% endblock %}</title>
    </head>
    <body>
        <div class="fond_header_base"></div>
        <div class="fond_header_infos"></div>
        <div class="fond_header_onglets"></div>
        <div class="container-fluid">
            <header>
                <div class="row" id="header_base">
                    <div class="col-xs-offset-1 col-xs-2">
                        {{ include('UknowReadingBundle:header:title.html.twig') }}
                    </div>
                    <nav class="col-xs-offset-1 col-xs-4">
                        {{ render(controller('UknowReadingBundle:Reading:nav')) }}
                    </nav>
                    {{ render(controller('UknowReadingBundle:Reading:profil')) }}
                </div>
                <div class="row" id="header_infos">

                </div>
                <div class="row" id="header_onglets">

                </div>
            </header>
            <section>

            </section>
            <footer class=row">

            </footer>
        </div>

        {% javascripts
            '@jquery'
            '@bootstrap_js'
            '@UknowReadingBundle/Resources/public/js/header.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
    {{ render(controller('FOSUserBundle:Security:login')) }}
    {{ render(controller('FOSUserBundle:Registration:register')) }}
</html>