{% extends  'UknowPlatformBundle:home/board:board.html.twig' %}

{% trans_default_domain 'Structure' %}

{% block domain %}
    <button id="none" class="choix none">{{ 'board.domain'|trans }}</button>
    {% for domains in listStructure %}
        <button id="{{ domains.domain }}" class="choix"  onclick="domaineChoix('{{ domains.domain }}', '{{ domains.domain|trans }}')">{{ domains.domain|trans }}</button>
    {% endfor %}
{% endblock domain %}

{% block subject %}
    <button id="none" class="choix none">{{ 'board.subject'|trans }}</button>
    {% for domains in listStructure %}
        <div id="{{ domains.domain }}" class="titre-group">{{ domains.domain|trans }}</div>
        {% for subjects in domains.subjects %}
        <button id="{{ subjects.subject }}" class="choix one"  onclick="matiereChoix('{{ subjects.subject }}', '{{ subjects.subject|trans }}')">{{ subjects.subject|trans }}</button>
        {% endfor %}
    {% endfor %}
{% endblock subject %}

{% block theme %}
    <button id="none" class="choix none">{{ 'board.theme'|trans }}</button>
    {% for domains in listStructure %}
        <div id="{{ domains.domain }}" class="titre-group">{{ domains.domain|trans }}</div>
        {% for subjects in domains.subjects %}
            <div id="{{ subjects.subject }}" class="titre-group one">{{ subjects.subject|trans }}</div>
            {% for themes in subjects.themes %}
                <button id="{{ themes.theme }}" class="choix two"  onclick="themeChoix('{{ themes.theme }}', '{{ themes.theme|trans }}')">{{ themes.theme|trans }}</button>
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock theme %}

{% block chapter %}
    <button id="none" class="choix none">{{ 'board.chapter'|trans }}</button>
    {% for domains in listStructure %}
        <div id="{{ domains.domain }}" class="titre-group">{{ domains.domain|trans }}</div>
        {% for subjects in domains.subjects %}
            <div id="{{ subjects.subject }}" class="titre-group one">{{ subjects.subject|trans }}</div>
            {% for themes in subjects.themes %}
                <div id="{{ themes.theme }}" class="titre-group two">{{ themes.theme|trans }}</div>
                {% for chapters in themes.chapters %}
                    <button id="{{ chapters }}" class="choix three"  onclick="chapitreChoix('{{ chapters }}', '{{ chapters|trans }}')">{{ chapters|trans }}</button>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
{% endblock chapter %}