{# src/Uknow/PlatformBundle/Resources/views/layout.html.twig#}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        {% stylesheets
        '@bootstrap_css'
        '@UknowPlatformBundle/Resources/public/css/header.css'
        '@UknowPlatformBundle/Resources/public/css/layout.css'
        '@UknowPlatformBundle/Resources/public/css/board.css'
        '@UknowPlatformBundle/Resources/public/css/donnees.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=greek' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
        <title>{% block title %}Uknow{% endblock %}</title>
    </head>
    <body>
        <div class="container-fluid" style="height: 100%">
            <header class="row">
                <div class="col-xs-offset-1 col-xs-2">
                    {{ include('UknowPlatformBundle:header:title.html.twig') }}
                </div>
                <nav class="col-xs-offset-1 col-xs-4">
                    {{ render(controller('UknowPlatformBundle:Home:nav')) }}
                </nav>
                <div class="col-xs-offset-1 col-xs-3">
                    {{ render(controller('UknowPlatformBundle:Home:profil')) }}
                </div>
            </header>

            <div class="row" style="margin-top:50px; height: calc(100% - 50px)">
                <section class="board">
                    {{ render(controller('UknowPlatformBundle:Home:board')) }}
                    <footer>
                        <p style="margin: 0"><a>Qui sommes-nous ?</a><br/><a>Comment utiliser Uknow ?</a><br/><a>Une envie de nous contacter ?</a></p>
                        <p style="margin-top: 5px; color:#FFFFFF">Uknow © {{ "now"|date("Y") }}</p>
                  </footer>
                </section>

                <section class="container-fluid" style="margin-left: 210px">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="donneesCours">
                                {{ render(controller('UknowPlatformBundle:Data:cours')) }}
                            </div>
                            <div class="donneesEvaluation">
                                {{ render(controller('UknowPlatformBundle:Data:evaluation')) }}
                            </div>
                            <div class="donneesForum">
                                {{ render(controller('UknowPlatformBundle:Data:forum')) }}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        {% javascripts
        '@jquery'
        '@bootstrap_js'
        '@UknowPlatformBundle/Resources/public/js/header.js'
        '@UknowPlatformBundle/Resources/public/js/board_animation.js'
        '@UknowPlatformBundle/Resources/public/js/board_control.js'
        '@UknowPlatformBundle/Resources/public/js/donnees.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
    {{ render(controller('FOSUserBundle:Security:login')) }}
    {{ render(controller('FOSUserBundle:Registration:register')) }}
</html>
